@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

.top_cat_cntnt {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px -1px 4px rgb(229 229 229 / 89%);
}
.top_cat_cntnt a{
  text-decoration: none;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.top_cat_cntnt img {
    width: 85px !important;
    margin: 0 auto;
}
.top_cat_cntnt p{
  padding-top: 5px;
}
.home_slider{
  position: relative;
}
.cat_top {
    background: #fbfbfb;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cat_top .slick-slide {
    padding-left: 10px!important;
  }
